body {
  background-image: url("./images/pic8.jpeg");
  font-family: "Lora", sans-serif;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-style: normal;
  color: white;
}

h1 {
  font-size: 80;
}

li {
  font-size: 30px;
}
header {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: aliceblue;
  border-radius: 5px;
  color: black;
  justify-content: space-evenly;
  font-size: 20px;
}

header a {
  padding-top: 10px;
  color: black;
}

header a:hover {
  background-color: white;
  width: 5%;
  font-weight: bolder;
}

@media (max-width: 1050px) {
}

@media (min-width: 650px) {
}
