.navbar ul {
  list-style-type: none;
  background-color: ;
  padding: 0px;
  margin-left: 15px;
  margin-right: 15px;
  overflow: hidden;
  display: inline-block;
  line-height: 100px;
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 25px;
  width: 100%;
  text-align: center;
}

.navbar li {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 150px;
  border-radius: 5px;
  justify-content: space-around;
  display: inline-block;
}

.navbar a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 15px;
}

.navbar a:hover {
  background-color: #1e2330;
}

.h1 {
  font-family: "Lora", sans-serif;
  font-size: 50px;
  text-align: center;
}

img {
  width: 28%;
  height: 350px;
  right: 50%;
  border-radius: 50px;
  padding-top: 15px;
}

body {
  background-color: lightslategrey;
  background-image: url("../images/pic8.jpeg");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-style: normal;
  font-family: "Lora", sans-serif;
  color: white;
  margin: 10px;
  text-shadow: 3px;
}

section {
  padding-top: 40px;
}
header {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: aliceblue;
  border-radius: 5px;
  color: black;
  justify-content: space-evenly;
  font-size: 20px;
}

header a {
  padding-top: 10px;
  color: black;
}

header a:hover {
  background-color: white;
  width: 5%;
  font-weight: bolder;
}

.fa-solid  {
  padding-top: 10px;
  
  }

@media (max-width: 1050px) {
}

@media (min-width: 650px) {
}
