.navbar ul {
  list-style-type: none;
  background-color: ;
  padding: 0px;
  margin-left: 15px;
  margin-right: 15px;
  overflow: hidden;
  display: inline-block;
  line-height: 100px;
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 25px;
}

.navbar li {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 150px;
  border-radius: 5px;
  justify-content: space-around;
}

.navbar a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  display: block;
}

.navbar a:hover {
  background-color: #1e2330;
}

.h1 {
  font-family: "Lora", sans-serif;
  font-size: 50px;
  text-align: center;
}

img {
  width: 28%;
  height: 350px;
  right: 50%;
  border-radius: 50px;
  padding-top: 15px;
}

body {
  background-color: lightslategrey;
  background-image: url("../images/pic8.jpeg");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-style: normal;
  font-family: "Lora", sans-serif;
  color: white;
}

section {
  padding-top: 40px;
}

@media (max-width: 1050px) {
}

@media (min-width: 650px) {
}
